
    <!-- FOOTER -->
    <footer class="footer">

      <p>© 2026 ToGo Travel</p>
      <small>Explore the world with confidence</small>

      <!-- Share Icons -->
      <div href="###########" class="share-icons">
        <a mat-icon-button aria-label="Share on Facebook">
          <img src="assets/icon/facebook.png" alt="Facebook" class="social-icon" />
          <mat-icon svgIcon="facebook"></mat-icon>
        </a>

        <a href="###########" mat-icon-button aria-label="Share on Instagram">
          <img src="assets/icon/instagram.png" alt="Instagram" class="social-icon" />
          <mat-icon svgIcon="instagram"></mat-icon>
        </a>

        <a href="###########" mat-icon-button aria-label="Share on Twitter">
          <img src="assets/icon/twitter.png" alt="Twitter" class="social-icon" />
          <mat-icon svgIcon="twitter"></mat-icon>
        </a>
      </div>


    </footer>
